n8n-workflow.json
{
  "name": "Nursing Trips Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Runs every hour from 9AM to 5PM, Monday-Friday (EST)"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/users/lnagesh@comprehensivenet.com/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "$select", "value": "id,subject,hasAttachments,receivedDateTime,isRead" },
            { "name": "$filter", "value": "contains(subject, 'STR | Confirm ID') and isRead eq false" },
            { "name": "$top", "value": "50" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-emails",
      "name": "Fetch Unread Trip Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notes": "Gets unread emails with 'STR | Confirm ID' in subject via Microsoft Graph API"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $json.value.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "check-emails",
      "name": "Any New Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 0],
      "notes": "Checks if any unread trip emails were found"
    },
    {
      "parameters": {
        "jsCode": "// Split the Graph API response array into individual email items\nconst emails = $input.first().json.value || [];\nconsole.log(`Found ${emails.length} unread trip email(s)`);\nreturn emails.map(email => ({ json: email }));"
      },
      "id": "split-emails",
      "name": "Split Email List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -100],
      "notes": "Splits the email array so each email is processed individually"
    },
    {
      "parameters": {
        "jsCode": "// Extract and display key email details for monitoring\nconst email = $input.first().json;\nconsole.log(`Processing: ${email.subject}`);\n\nreturn [{\n  json: {\n    messageId: email.id,\n    subject: email.subject,\n    receivedDateTime: email.receivedDateTime,\n    hasAttachments: email.hasAttachments\n  }\n}];"
      },
      "id": "log-email",
      "name": "Log Email Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, -100],
      "notes": "Displays email subject, date, and attachment status for visibility"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/users/lnagesh@comprehensivenet.com/messages/{{ $json.messageId }}/attachments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "$select", "value": "id,name,contentType,size" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-attachments",
      "name": "Get Email Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100],
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "Fetches all attachments for this email from Microsoft Graph"
    },
    {
      "parameters": {
        "jsCode": "// Find the securedoc HTML attachment\nconst attachments = $input.first().json.value || [];\nconst securedoc = attachments.find(a =>\n  (a.name || '').toLowerCase().includes('securedoc')\n);\n\nif (!securedoc) {\n  console.log('No securedoc attachment found — skipping email');\n  return [];  // Empty = skip downstream nodes\n}\n\nconst emailInfo = $('Log Email Details').first().json;\nconsole.log(`Found: ${securedoc.name} (${(securedoc.size / 1024).toFixed(1)} KB)`);\n\nreturn [{\n  json: {\n    messageId: emailInfo.messageId,\n    emailSubject: emailInfo.subject,\n    receivedDateTime: emailInfo.receivedDateTime,\n    attachmentId: securedoc.id,\n    attachmentName: securedoc.name,\n    attachmentSize: securedoc.size\n  }\n}];"
      },
      "id": "find-securedoc",
      "name": "Find Securedoc Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, -100],
      "notes": "Identifies the 'securedoc' HTML file from the attachment list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nursing-trips-processor.onrender.com/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $json.messageId }}\",\n  \"attachmentId\": \"{{ $json.attachmentId }}\",\n  \"emailSubject\": \"{{ $json.emailSubject }}\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "call-processor",
      "name": "Send to Render Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, -100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "notes": "Sends messageId + attachmentId to Render. Processor fetches HTML, runs Puppeteer, extracts PDF fields, uploads to Drive."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-result",
      "name": "Processing OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2100, -100],
      "notes": "Checks if the Render processor returned success"
    },
    {
      "parameters": {
        "jsCode": "// Display the extracted trip fields for monitoring\nconst data = $input.first().json;\nconst trip = data.tripFields || {};\nconst studentCount = (data.students || []).length;\n\nconsole.log(`Trip: ${trip.confirmId} | ${trip.tripCode} | ${trip.destination}`);\nconsole.log(`Students: ${studentCount}`);\n\nreturn [{\n  json: {\n    confirmId: trip.confirmId || '',\n    tripCode: trip.tripCode || '',\n    destination: trip.destination || '',\n    schoolName: trip.schoolName || '',\n    startDate: trip.startDate || '',\n    endDate: trip.endDate || '',\n    startTime: trip.startTime || '',\n    endTime: trip.endTime || '',\n    overnightTrip: trip.overnightTrip || '',\n    studentCount: studentCount,\n    driveUrl: data.driveUrl || '',\n    pdfFilename: data.pdfFilename || '',\n    // Pass through full data for next nodes\n    _fullResponse: data\n  }\n}];"
      },
      "id": "log-trip",
      "name": "Log Trip Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, -200],
      "notes": "Shows extracted trip data: Confirm ID, Trip Code, destination, school, dates, student count"
    },
    {
      "parameters": {
        "jsCode": "// Build single row with students as comma-separated arrays\nconst item = $input.first().json;\nconst data = item._fullResponse || item;\nconst tripFields = data.tripFields || {};\nconst students = data.students || [];\nconst driveUrl = data.driveUrl || item.driveUrl || '';\nconst receivedDateTime = $('Find Securedoc Attachment').first().json.receivedDateTime || '';\n\nconsole.log(`Formatting ${students.length} student(s) as arrays`);\n\nreturn [{\n  json: {\n    confirmId: tripFields.confirmId || '',\n    tripCode: tripFields.tripCode || '',\n    todaysDate: tripFields.todaysDate || '',\n    overnightTrip: tripFields.overnightTrip || '',\n    startDate: tripFields.startDate || '',\n    endDate: tripFields.endDate || '',\n    startTime: tripFields.startTime || '',\n    endTime: tripFields.endTime || '',\n    destination: tripFields.destination || '',\n    schoolName: tripFields.schoolName || '',\n    address: tripFields.address || '',\n    atsDbn: tripFields.atsDbn || '',\n    district: tripFields.district || '',\n    region: tripFields.region || '',\n    requester: tripFields.requester || '',\n    phone1: tripFields.phone1 || '',\n    phone2: tripFields.phone2 || '',\n    studentInitials: students.map(s => s.initials || '').join(', '),\n    studentId: students.map(s => s.studentId || '').join(', '),\n    dob: students.map(s => s.dob || '').join(', '),\n    medicalNeeds: students.map(s => s.medicalNeeds || '').join(', '),\n    driveUrl: driveUrl,\n    emailReceived: receivedDateTime\n  }\n}];"
      },
      "id": "expand-students",
      "name": "Format Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, -200],
      "notes": "Builds single row with students as comma-separated arrays (columns R-U)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ukXEeNhbNYOHERWV2NroELaR4jwQJoYL0900__m4ur0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "trip_details",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "A": "={{ $json.confirmId }}",
            "B": "={{ $json.tripCode }}",
            "C": "={{ $json.todaysDate }}",
            "D": "={{ $json.overnightTrip }}",
            "E": "={{ $json.startDate }}",
            "F": "={{ $json.endDate }}",
            "G": "={{ $json.startTime }}",
            "H": "={{ $json.endTime }}",
            "I": "={{ $json.destination }}",
            "J": "={{ $json.schoolName }}",
            "K": "={{ $json.address }}",
            "L": "={{ $json.atsDbn }}",
            "M": "={{ $json.district }}",
            "N": "={{ $json.region }}",
            "O": "={{ $json.requester }}",
            "P": "={{ $json.phone1 }}",
            "Q": "={{ $json.phone2 }}",
            "R": "={{ $json.studentInitials }}",
            "S": "={{ $json.studentId }}",
            "T": "={{ $json.dob }}",
            "U": "={{ $json.medicalNeeds }}",
            "V": "={{ $json.driveUrl }}",
            "W": "",
            "X": "={{ $json.emailReceived }}"
          }
        },
        "options": {}
      },
      "id": "write-sheets",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2880, -200],
      "notes": "Appends one row per student to trip_details tab (columns A-X)"
    },
    {
      "parameters": {
        "jsCode": "// No unread trip emails found\nconsole.log('No new nursing trip emails to process');\nreturn [{ json: { message: 'No new nursing trip emails found', timestamp: new Date().toISOString() } }];"
      },
      "id": "no-emails",
      "name": "No New Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 120],
      "notes": "Logs when no unread trip emails are found"
    },
    {
      "parameters": {
        "jsCode": "// Log the processing failure details\nconst result = $input.first().json;\nconst emailInfo = $('Find Securedoc Attachment').first().json;\n\nconsole.error(`FAILED: ${emailInfo.emailSubject}`);\nconsole.error(`Error: ${result.error || 'Unknown error'}`);\n\nreturn [{\n  json: {\n    status: 'FAILED',\n    emailSubject: emailInfo.emailSubject,\n    messageId: emailInfo.messageId,\n    error: result.error || 'Unknown processing error',\n    elapsed: result.elapsed || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "processing-failed",
      "name": "Processing Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 0],
      "notes": "Logs error details when the Render processor fails. Email stays unread for retry."
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [{ "node": "Fetch Unread Trip Emails", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Unread Trip Emails": {
      "main": [
        [{ "node": "Any New Emails?", "type": "main", "index": 0 }]
      ]
    },
    "Any New Emails?": {
      "main": [
        [{ "node": "Split Email List", "type": "main", "index": 0 }],
        [{ "node": "No New Emails", "type": "main", "index": 0 }]
      ]
    },
    "Split Email List": {
      "main": [
        [{ "node": "Log Email Details", "type": "main", "index": 0 }]
      ]
    },
    "Log Email Details": {
      "main": [
        [{ "node": "Get Email Attachments", "type": "main", "index": 0 }]
      ]
    },
    "Get Email Attachments": {
      "main": [
        [{ "node": "Find Securedoc Attachment", "type": "main", "index": 0 }]
      ]
    },
    "Find Securedoc Attachment": {
      "main": [
        [{ "node": "Send to Render Processor", "type": "main", "index": 0 }]
      ]
    },
    "Send to Render Processor": {
      "main": [
        [{ "node": "Processing OK?", "type": "main", "index": 0 }]
      ]
    },
    "Processing OK?": {
      "main": [
        [{ "node": "Log Trip Fields", "type": "main", "index": 0 }],
        [{ "node": "Processing Failed", "type": "main", "index": 0 }]
      ]
    },
    "Log Trip Fields": {
      "main": [
        [{ "node": "Format Sheet Row", "type": "main", "index": 0 }]
      ]
    },
    "Format Sheet Row": {
      "main": [
        [{ "node": "Write to Google Sheets", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    { "name": "nursing-trips" },
    { "name": "automation" }
  ]
}
